<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-primary fw-bold" href="{% url 'home' %}">S.J.T INDUSTRIES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              To What
            </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item text-primary fw-bold" href="{% url 'q1' %}">Quotation</a></li>
              <li><a class="dropdown-item text-primary fw-bold" href="{% url 'b1' %}">Invoice</a></li>
              <li><a class="dropdown-item text-primary fw-bold" href="{% url 'history' %}">History</a></li>

              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fw-bold" href="{% url 'logout' %}">Log-Out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-primary fw-bold" href="{% url 'home' %}">Login</a>
          </li>
          {% endif %}
          
         
        </ul>
        
      </div>
    </div>
  </nav>