{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
    {% if items_to_display %}
    <form method="post" action="{% url 'q' %}">
        {% csrf_token %}
        <p class="text-primary fw-bold">Date:</p>
        <div class="mb-3">
            <input type="date" class="form-control" name="date" required>
        </div>
        <p class="text-primary fw-bold">Sub:</p>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Subject Of Your Work" name="sub" required>
        </div>
        <hr class="bg-white">
        <p class="text-primary fw-bold">To:</p>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Client/CustomerName" name="a1" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Doorno/Street" name="a2" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Area/District" name="a3" required>
        </div>
    {% for i in items_to_display %}
    <p class="text-primary fw-bold">{{i}}</p>
    {% include 'loc.html' %}
    {% endfor %}
    <p class="text-primary fw-bold">Total Amount:</p>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="totalamount" name="totalamount" required>
    </div>
    <p class="text-primary fw-bold">Additional Details</p>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="like including painting material,transportation" name="adet">
    </div>
    <select name="nof" class="form-select bg-primary"  aria-label="Default select example">
        <option selected>select</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
    </select>
    <center><button class="btn btn-primary" type="submit">Generate</button></center>
    </form>
    {% else %}
    <h1 class="text-primary text-center">QUOTATION</h1>
    <form class="mt-3" method="post" action="{% url 'los' %}">
        {% csrf_token %}
        <select name="option" class="form-select bg-primary"  aria-label="Default select example" required>
            <option selected>List Of Contents</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>

        </select>
        <center><button class=" mt-3 btn btn-primary" type="submit">Done</button></center>
    </form>
    {% endif %}
</div>

{% endblock %}